/* Add some space in the static content sections */

section.container.static {
  padding: 40px 0;
}

/* Check out the universal background specifications in this style rule. Here we are saying that our images are big enough to not repeat, we want them to take up as much space as they're given, to stay put (fixed), and to position the image in the middle of the content provided */

section.container.parallax {
  padding: 240px 0;
  background-position: 0,0;
  background-size: cover;
}

/* Style the h1 so that is covers the entire parallax image - note the line height */

section.container.parallax h1 {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  line-height: 1;
  color: rgba(255,255,255,0.8);
  font-family: sans-serif;
  text-shadow: 0 0 10px rgba(0,0,0,0.2);
}

section.container.parallax-1 {
  background-image: url('./images/shuj-9lqhwk-steven-diaz.jpg')
}

section.container.parallax-2 {
  background-image: url('./images/avluemvuvus-redd-angelo.jpg')
}

section.container.parallax-3 {
  background-image: url('./images/92dgypsir9k-raphael-koh.jpg')
}

section.container.parallax-4 {
  background-image: url('./images/2fgvaqx-fxs-oskar-krawczyk.jpg')
}
